*{
    margin: 0;
}
.content-background-img{
    position: absolute;
    top: 0;
    left: 0;
}
.text{
    z-index: 3;
    width: 1400px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 5%;
    color: #FFF;
}
.text span{
    font-size: 16px;
    padding: 10px 24px;
    background: rgba(42, 42, 75, 0.84);
}
.text h1{
    text-align: center;
    padding: 18px 24px;
    background: rgba(163, 27, 80, 0.84);
}
.search-box{
    position: absolute;
    top: 460px;
}
.content-flight-info{
    position: absolute;
    top: 550px;
    z-index: 3;
    min-width: 1688px;
}
.search-box{
    margin: 10px 0;
}
.search-box *{
    display: inline-block;
}
.filter-block *{
    font-size: 2rem;
}
.filter-block{
    float: left;
    margin-left: 110px;
}
.ser-title{
    margin-left: 300px;
}



#moreInfo{
    text-align: center;
    margin: 0 45%;
}
.content-flight-table{
    margin: 10px 50px;
 }
table *{
    font-size: 24px;
    padding: 10px 10px;
}

#msg{
    z-index: 10000;
    height: 2rem;
    text-align: center;
    position: fixed;
    top: 50%;
    margin-top: -1rem;
    line-height: 2rem;
    width: 100%;
}
#msg span{
    z-index: 10000;
    color: #fff;
    background: rgba(0,0,0,0.6);
    height: 2rem;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 2rem;
}