<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>航班信息显示系统</title>

    <link rel="stylesheet" type="text/css" th:href="@{css/homeStyle.css}">
    <script type="text/javascript" th:src="@{js/jquery.js}"></script>
</head>
<body>
    <header class="header">
        <div class="logo"><img th:src="@{img/flighticon.png}"></div>
        <div class="nav">
            <ul>
                <li><a th:href="@{home}">首页</a></li>
                <li><a th:href="@{flightInfo}">航班信息</a></li>
                <li><a href="">机场交通</a></li>
                <li><a href="">旅客服务</a></li>
            </ul>
        </div>
        <div class="login"><a th:href="@{login}">登录</a></div>
    </header>
</body>
</html>