<!DOCTYPE html>
<html lang="en">
<head>
    <base th:href="@{/}">
    <meta charset="UTF-8">
    <title>添加</title>
    <link rel="icon" th:href="@{img/flighticon.png}" href="../static/img/flighticon.png">
    <script src="../static/js/jquery.js" th:src="@{js/jquery.js}"></script>
    <style type="text/css">
        form *{
            margin: 3px 0;
        }
    </style>
</head>
<body>
    <center>
        <form action="/admin/insert" method="post">
            管理员编号：<input id="admin_id" name="admin_id" th:value="${admin.id}" readonly="readonly"><br>
            管理员：<input id="username" name="username" th:value="${admin.username}" readonly="readonly"><br>
            航班号：<input id="flight_number" name="flight_number"><br>
            航空公司：<input id="airline_company" name="airline_company"><br>
            始发地：<input id="from_city" name="from_city"><br>
            目的地：<input id="to_city" name="to_city"><br>
            经停：<input id="stopover" name="stopover"><br>
            计划起飞时间：<input id="plan_takeoff_time" name="plan_takeoff_time" type="datetime-local"><br>
            计划到达时间：<input id="plan_arrival_time" name="plan_arrival_time" type="datetime-local"><br>
            实际起飞时间：<input id="actual_takeoff_time" name="actual_takeoff_time" type="datetime-local"><br>
            实际到达时间：<input id="actual_arrival_time" name="actual_arrival_time" type="datetime-local"><br>
            航站楼：<input id="terminal" name="terminal"><br>
            登机口：<input id="gate" name="gate"><br>
            值机柜台：<input id="check_in_counter" name="check_in_counter"><br>
            <button>确定插入</button>
        </form>
    </center>
</body>
</html>